<div class="footer" data-controller="marquee">
  <%# <div class="wrap wrap--logobar" id="containerElem">
    <ul class="list" id="list">
      <li class="list__item">logo 1</li>
      <li class="list__item">logo 2</li>
      <li class="list__item">logo 3</li>
      <li class="list__item">logo 4</li>
      <li class="list__item">logo 5</li>
      <li class="list__item">logo 6</li>
      <li class="list__item">logo 7</li>
      <li class="list__item">logo 8</li>
    </ul>
  </div> %>
  <%# <div id="scroll-container">
    <div id="scroll-text">LIAM STRICKLAND IS A DESIGNER, WEB DEVELOPER & ARTIST FROM PERTH, WESTERN AUSTRALIA.<div>
  </div> %>
</div>
