<div class="accordion" id="workList">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCartines">
      <button class="accordion-button collapsed" id="accordion-button-stricko" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCartines" aria-expanded="false" aria-controls="collapseCartines">
        FOOLISH Cartine di Qualità
      </button>
    </h2>
    <div id="collapseCartines" class="accordion-collapse collapse" aria-labelledby="headingCartines" data-bs-parent="#workList">
      <div class="accordion-body">
        Designed in collaboration with <strong>Foolish Media</strong>, these king-sized papers and tips roll easy and burn slow. Let them take you to a place of leisure, relaxation and bliss. <a href="https://foolishstore.bigcartel.com/" > Order here</a>.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSwimwear">
      <button class="accordion-button collapsed" id="accordion-button-stricko" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSwimwear" aria-expanded="false" aria-controls="collapseSwimwear">
        Hapēto Resort & Swimwear
      </button>
    </h2>
    <div id="collapseSwimwear" class="accordion-collapse collapse" aria-labelledby="headingSwimwear" data-bs-parent="#workList">
      <div class="accordion-body">
        Branding and textile design for Melbourne-based leisurewear label <strong>Hapēto</strong>, these eco-friendly <a href="https://www.hapeto.com.au/products/swim-shorts-yellow">swim shorts</a> feature 100% recycled polyester construction.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" id="accordion-button-stricko" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        The North America Project
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#workList">
      <div class="accordion-body">
        Illustration and editorial work for The North America Project, a publication showcasing the work of 6 photographers from their travels. Curated by <a href="https://www.jackogradyphoto.com/">Jack O'Grady</a>.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" id="accordion-button-stricko" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Eudaimonia EP
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#workList">
      <div class="accordion-body">
        Cover artwork created for Melbourne based producer Eudaimonia's 2023 self-titled album, released through Suck Music.
      </div>
    </div>
  </div>
</div>
