<div class="main-container">
  <%= render "shared/navbar" %>
  <div class="middle-container">
    <div class="work-container">
    </div>
    <div class="list-container">
    </div>
  </div>
  <div class="footer">
  </div>
</div>
