<div class="main-container" data-controller="hello">
  <%= render "shared/navbar" %>
  <div class="middle-container">
    <div class="work-container">
      <div id="collapseCartines" class="accordion-collapse collapse" aria-labelledby="headingCartines" data-bs-parent="#workList">
        <div class="accordion-body">
          <div class="work-images">
            <%= render "shared/cartines" %>
          </div>
        </div>
      </div>
    </div>
    <div class="list-container">
      <%# <div class="btn btn-primary" data-action="click->hello#greet">Say Hello</div>
      <h1 data-hello-target="heading">This is the home page</h1> %>
      <%= render "shared/list" %>
    </div>
    <%# <button class="btn btn-primary btn-lg" data-controller="disable-button" data-action="click->disable-button#disable"> Click me! </button> %>
  </div>
  <%= render "shared/footer" %>
</div>
