.nav-button {
  border-radius: 50px;
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18pt;
}

#work-button {
  border: 2px solid #FF6666;
  transition: 0.3s ease;
}

#work-button:hover {
  background-color: #FF6666;
  color: black;
}

#work-button-on {
  background-color: #FF6666;
  border: 2px solid #FF6666;
}

#work-button-on:hover {
  color: black;
}

#about-button {
  border: 2px solid #FFD361;
  transition: 0.3s ease;
}

#about-button:hover {
  background-color: #FFD361;
  color: black;
}

#about-button-on {
  background-color: #FFD361;
  border: 2px solid #FFD361;
}

#about-button-on:hover {
  color: black;
}

#contact-button {
  border: 2px solid #61B3FF;
  transition: 0.3s ease;
}

#contact-button:hover {
  background-color: #61B3FF;
  color: black;
}

#contact-button-on {
  background-color: #61B3FF;
  border: 2px solid #61B3FF;
}

#contact-button-on:hover {
  color: black
}

#accordion-button-stricko {
  font-size: 14pt;
}
